#Please Ignore this.
[Downloads]
[Extra stuff]
Tool
Backup
English.lnk
*.docx
GFL Black Ops Subtitles Edit Pre Release 01.mp4
Game_mod
game_mod.zip
LocalizedStrings-Tutorial.rar
gfl_release.7z
gflbo1-main.zip
Finished bik's
DropMeFiles_*.zip
int_*.bik
int_*.gsc
!**/GFL Video Edits/**