#Please Ignore this.
[Downloads]
[Extra stuff]
Tool
Backup
English.lnk
*.docx
GFL Black Ops Subtitles Edit Pre Release 01.mp4
Game_mod
game_mod.zip
LocalizedStrings-Tutorial.rar
gfl_release.7z
gflbo1-main.zip
Finished bik's
DropMeFiles_DropIn_Mods_GFL.zip
DropMeFiles_lRqBb.zip
DropMeFiles_V1VN4.zip
DropMeFiles_WWwKm.zip
DropMeFiles_GjNm7.zip